<p>
  <strong><%= @story.line %></strong>
</p>

<div style="width:400px;height:auto">
  <% if @story.image.attached? %>
    <%= image_tag(@story.image, style:"width:100%") %>
    <br/><br/>
  <% end %>
</div>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
